<!DOCTYPE html>
<!--
Created by Lennard Giesing
https://github.com/LennardTFD
TODO Route Length in Route Data
-->
<html style="height: 100%;" lang="de">
<head>
  <title>Fridays for Future Demo Tracker | FFF Düsseldorf</title>
  <meta name="description" content="Fridays for Future Düsseldorf Live Demo Tracker. Finde den Demozug entlang der Route auch dann, wenn du nicht von Anfang an dabei sein kannst.">
  <meta name="keywords" content="FFF, Fridays for Future, Fridays, For, for, Future, Düsseldorf, Dusseldorf, Duesseldorf, Tracker, Live, Standort, Route, Demo, Demonstration, Karte, Lennard Giesing, Fridays for Future Düsseldorf">
  <meta name="author" content="Lennard Giesing, Fridays for Future Düsseldorf">

  <meta charset="utf-8">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152743283-1"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/map.css' />
  <link rel='stylesheet' href='/stylesheets/common.css'/>

  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/favicon.png" />

  <script src="/io"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

  <script src="/javascripts/Control.Geocoder.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.1.0/leaflet.polylineDecorator.js"></script>

  <script>
    ACCESS_TOKEN = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  </script>
  <script src='/javascripts/markers.js'></script>
</head>
<body id='map' style="height: 99%; min-height: 99%; position: static;">
<h1 style="display: none;">Fridays for Future Düsseldorf Demo Tracker by Lennard Giesing</h1>
<h2 style="display: none;">Fridays for Future Düsseldorf Live Demorouten Tracker</h2>
<div style="display: none;">
  <p><strong>Finde hier jederzeit den Live Standort des Fridays for Future Demo Zuges.</strong></p><br>
  <p>Selbst wenn du nicht von Anfang an dabei sein kannst, findest du ins mit diesem Tracker<br>
  den Demonstrationszug, entlang der Route, in Düsseldorf wieder.<br>
  Jede Woche gehen wir auf die Straße um eine Änderung in der Klimapolitik zu erreichen<br>
    Dafür steht Fridays for Future.FFF, Fridays for Future, Fridays, For, Future, Düsseldorf,</p><br><p> Dusseldorf, Duesseldorf, Tracker, Live, Standort, Route, Demo, Demonstration, Karte<br></p>
  <ul>Der Düsseldorfer Ortsverband wurde im Dezember 2018 gegründet.<br>
  <li>Zum Zeitpunkt unserer Demos bekommst du auf dieser Seite Informationen zum Ort des Demozuges um auch während<br>
    laufener Demo noch dazustoßen zu können.</li>
  Wir hoffen dieses Tool animiert dich noch mehr Teil dieser Bewegung zu sein.

  </ul>
  Fridays for Future Düsseldorf Live Demo Tracker. Finde den Demozug entlang der Route auch dann, wenn du nicht von Anfang an dabei sein kannst.
  <a href="https://www.facebook.com/fridaysforfutureduesseldorf/">Finde uns hier auf Facebook</a>
  <a href="https://twitter.com/fff_duesseldorf">Finde uns hier auf Twitter</a>
  <a href="https://duesseldorf4future.de/">Finde uns hier im Web</a>
  created by Lennard Giesing
</div>
<div id="adminPanel" style="z-index: 9999998">
  <a href="#" onclick="hideShowLegend()">Legende</a>
  <span style="display: <%if(loggedin){%>inline<%}else{%>none<%}%>">
  <a href="/route" title="Demorouten">Demorouten</a>
  <a href="/march" title="Demozüge">Demozüge</a>
  <a href="/logout" title="Logout">Logout</a>
  </span>
</div>
<div id='legende' style="z-index: 9999999; <%if(embed){%>display:none<%}%>">

  <h3>Legende</h3>
  <span class="legende"><img alt="Start Marker" title="Start Marker" class="legendeMarker greenMarker" src=""> Start</span><br>
  <span class="legende"><img alt="End Marker" title="End Marker" class="legendeMarker redMarker" src=""> Ende</span><br>
  <span class="legende"><img alt="Zwischenstop Marker" title="Zwischenstop Marker" style="display: compact;" class="legendeMarker blackMarker" src=""> Zwischenstop</span><br>
  <span class="legende"><img alt="Demozug Marker" title="Demozug Marker" class="legendeMarker protestMarker" src="/images/protest_violet_preview.png"> Standort</span><br>


  <script>
    function hideShowLegend()
    {
      if($("#legende").css("display") == "none")
      {
        $("#legende").css("display", "");
      }
      else
      {
        $("#legende").css("display", "none");
      }
    }
    $(".blackMarker:eq(0)").attr("src", blackIcon.options.iconUrl);
    $(".greenMarker:eq(0)").attr("src", greenIcon.options.iconUrl);
    $(".redMarker:eq(0)").attr("src", redIcon.options.iconUrl);
  </script>

</div>
 <!--<div id="map" style="width: 100vh; height: 100vh; position:absolute"></div>-->
<script src='/javascripts/main.js'></script>
</body>
</html>
