<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <title>FFF Demo Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/map.css' />
  <link rel='stylesheet' href='/stylesheets/common.css'/>

  <script src="/io"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>

  <script src="/javascripts/Control.Geocoder.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.1.0/leaflet.polylineDecorator.js"></script>

  <script>
    ACCESS_TOKEN = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    MB_ATTR = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  </script>
  <script src='/javascripts/markers.js'></script>
</head>
<body id='map' style="height: 100%; min-height: 100%;">
<%if(loggedin){%>
<div id="adminPanel" style="z-index: 9999998;">
  <a href="/route">Demorouten</a>
  <a href="/march">Demozüge</a>
  <a href="/logout">Logout</a>
</div>
<%}%>
<div id='legende' style="z-index: 9999999;">

  <h3>Legende</h3>
  <span class="legende"><img class="legendeMarker greenMarker"> Start</span><br>
  <span class="legende"><img class="legendeMarker redMarker"> Ende</span><br>
  <span class="legende"><img class="legendeMarker blackMarker"> Zwischenstop</span><br>


  <script>
    $(".blackMarker:eq(0)").attr("src", blackIcon.options.iconUrl);
    $(".greenMarker:eq(0)").attr("src", greenIcon.options.iconUrl);
    $(".redMarker:eq(0)").attr("src", redIcon.options.iconUrl);
  </script>

</div>
 <!--<div id="map" style="width: 100vh; height: 100vh; position:absolute"></div>-->
<script src='/javascripts/main.js'></script>
</body>
</html>
