<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <title>FFF Demo Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/route.css'/>

    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='/javascripts/march_create.js'></script>
</head>
<body style="height: 100%; min-height: 100%;">
<a href="/">Zurück</a>
<a href="/route">Demorouten</a>
<a href="/march">Demozüge</a>
<br>
<form method="post">
    <input id="passwordInput" name="password" type="password" placeholder="Passwort"><br>
    <input id="loginBtn" type="submit" value="Einloggen">
</form>

</body>
</html>
