body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

#overlay {
  pointer-events: auto;
  height: 30%;
  max-height: 100%;
  width: 40%;
  position: fixed;
  top: 30px;
  right: 15px;
  bottom: 30px;
  z-index: 99999;
  background-color: transparent;
}

html, #map {
  height: 100%;
  width: 100%;
}

a {
  color: #00B7FF;
}

#routeCreator {
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  padding: 15px;
  background-color: white;
  max-height: 300%;
  overflow: hidden;
}

#routeCreator * {
  width: 100%;
}

#routeCreator .top {
  overflow: hidden;
  position:relative;
}

#routeCreator #pois {
  position: relative;
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

#routeCreator .poi
{
}

hr {
  border: none;
  height: 3px;
  background-color: black;
}

.active
{
  background-color: mediumblue;
}